ul{
    border-style:double;
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    margin:0;
    padding:0;
    background: rgb(242,79,215);
    background: radial-gradient(circle, rgba(242,79,215,1) 0%, rgba(248,242,163,1) 100%);
    
    li{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        border-style:outset;
        }
        a{
            text-decoration: none;
            color: none;
            &:hover{
                background-color: transparent;
                color:rgb(7, 0, 0);
            }
            &:active{
                color:black;
            }
        }
        
    }
    body{
        background-image:url("/imagenes/15-Presentation-Background-Examples16.jpeg");
    }
    footer{
        display: flex;
        background: rgb(242,79,215);
        background: radial-gradient(circle, rgba(242,79,215,1) 0%, rgba(248,242,163,1) 100%);
        justify-content: space-around;
               align-items: center;
               border-style:double;
    border-radius: 2rem;
        
    }
            p{
        margin-left: 1rem;
        a{
            margin:2rem;
        }
}
.titulo_index{
    display: flex;
    justify-content:center;

}
.section1{
    background-color: #f252d599;
    border-radius: 2rem;
    p{
        text-align: center;
    }
}
.tarjeta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2{
    display: flex;
    border-radius: 2rem;
    background: #f252d599;
    
    align-content: stretch;
    justify-content: center;

        iframe{
            display: flex;
            justify-content: center;
            padding-left: 10rem;
        }
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 3rem;
            font-size: 2rem;
        }
        h2{
            display: flex;
            justify-content: center;
            align-items: center;

    }
}
.tarjeta3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: center;
    li{
        display: flex;
        flex-wrap: wrap;
        border-radius: 2rem;
    }
}
article{
  display:flex;
  justify-content: space-between;
}
.caja{
  box-sizing: border-box;
  padding:8px;
  width: 150px;
  height: 150px;
  position: relative;
  border:1px solid black;
}

/*mapa*/ 

$mapa: (
    uno:red,
    dos:orange,
    tres:blue,
    cuatro:grey,
    cinco:pink
  );

@each $clase, $color in $mapa {
  .caja.#{$clase}{
     background-color: $color;
    &:before{
      position:absolute;
      bottom:-30px;
      left:0px;
      
    }
  }
}
article{
    display:flex;
    justify-content: space-between;
  }
  .caja{
    box-sizing: border-box;
    padding:8px;
    width: 150px;
    height: 150px;
    position: relative;
    border:1px solid black;
  }
  

  
  $mapa: (
      uno:red,
      dos:orange,
      tres:blue,
      cuatro:grey,
      cinco:pink
    );
  
  @each $clase, $color in $mapa {
    .caja.#{$clase}{
       background-color: $color;
      &:before{
        position:absolute;
        bottom:-30px;
        left:0px;
        
      }
    }
  }
/*extend*/
  .seguinos{
 
      border: 1px solid #333333;
      background-color: #f252d599;
      padding:20px;
      font-size: 22px0;
      font-weight: bold;
      text-align: center;
  }

  .seguinos--nueva{
      @extend .seguinos;
      border-radius: 2rem;
      text-decoration: underline;
  }
  /*mixin*/
  @mixin flex-row-center {
      display: flex;
      -ms-flex-direction: row;
      justify-content: center;
      
  }
  @mixin sizes($width, $height,) {
      width: $width;
      height: $height;
      
  }
  .seguinos{
      @include sizes(400px, 100px)
      
  }
  .seguinos-master{
      @include flex-row-center;
  }



